.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  margin-top: -5rem;
  padding-bottom: 0;
}

.hero-bg-gradient {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.9rem;
  color: #212529;
  border-radius: 0.5rem;
  transition: 0.2s ease;
}

i {
  margin-bottom: 0.8rem;
}

.icon-link:hover {
  background-color: rgba(0, 123, 255, 0.12);
  color: #0d6efd;
  transform: scale(1.2);
  opacity: 0.7;
}
